body{
    background-image: linear-gradient(to left, lightblue, darkslateblue);
}

* {
    color: black;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    margin-top: 30px;
}

.launch {
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', serif;
}

.launch-div {
    display: flex;
    height: fit-content;
    justify-content: center;
}

li {
    font-weight: bold;
    font-family: 'Trebuchet MS', serif;
    font-size: larger;
    text-align: center;
    list-style-type: none;
}

ol {
    padding-left: 0;
}
