html {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Quicksand", sans-serif;
    background-color: #343434;
}

.container {
    background-color: purple;
    font-size: 17px;
}

.navbar {
    background-image: linear-gradient(to right, #002244, #041E42);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.container .navbar {
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
    color: whitesmoke;
}

.container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-heading {
    color: white;
    padding-left: 15px;
    display: inline-block;
    cursor: pointer;
    transition: filter 1s ease;
}

.main-heading:hover {
    color: red;
    filter: brightness(1.2);
}

.navbar ul li:hover {
    color: red;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

#bruh-image {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.meme-image{
    width: 400px;
}

.main-head{
    text-align: center;
    font-family: 'Trebuchet MS', serif;
    font-weight: bold;
    color: white;
}

.meme-contain {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
}

.image-contain{
    display: flex;
    justify-content: center;
    justify-items: center;
}

@media only screen and (max-width: 620px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .container .navbar ul li {
        margin: 10px 0;
    }

    .hero-image {
        height: auto;
    }

    .main-heading {
        padding-left: 0;
        position: relative;
        bottom: 10px;
    }
}

@media only screen and (max-width: 490px) {
    .meme-image{
        width: 250px;
    }
}

@media only screen and (max-width: 390px) {
    .meme-image{
        width: 200px;
    }
}